@media screen and (min-width: 576px) {
    .start-modal {
        width: 450px;
        height: 410px;
    }

    .bell-container img {
        margin-bottom: -4rem;
    }

    .bell-container img {
        width: 110px;
        height: 110px;
    }

    .empty {
        margin-top: 5rem;
        width: 35rem;
    }

    .about-img-container img {
        width: 25rem;
    }

    .about-text {
        height: 42rem;
    }

    .about-text p {
        font-size: 1.7rem;
        line-height: 2.8rem;
    }

}

@media screen and (min-width: 768px) {

    .section-alert {
        top: 6rem;
    }

    .to-up {
        right: 5rem;
        left: auto;
    }

    .work-samples {
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem 3rem;
    }

    .categories-tabs button {
        padding: 1rem 2.2rem;
    }

    .work-samples-section {
        margin-bottom: 30rem;
    }

    .work-sample-description {
        font-size: 1.5rem;
    }

    .skills-container {
        width: 80%;
    }

    .skills-section {
        height: 73rem;
        margin-bottom: 10rem;
    }

    .skill {
        flex-direction: row;
        justify-content: space-evenly;
        padding: .1rem;
    }

    footer {
        flex-direction: row;
    }

    footer p {
        width: auto;
        text-align: right;
    }
}

@media screen and (min-width: 992px) {
    .section-alert p {
        margin-right: 2rem;
        font-size: 1.8rem;
    }

    .show-alert {
        width: 35rem;
    }

    .alert-icon-container {
        width: 5rem;
    }

    .alert-icon-container img {
        width: 3rem;
    }

    .logo-container {
        font-size: 1.7rem;
    }

    .navbar {
        justify-content: space-between;
    }

    .show {
        flex-direction: row;
    }

    .resize {
        height: auto;
        flex-direction: row;
    }

    nav {
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        overflow: visible;
    }

    .uper-menu-mobile {
        width: auto;
    }

    .menu-line {
        display: none;
    }

    nav a {
        margin: 0;
        font-size: 1.4rem;
    }

    .completing {
        width: 10rem;
        right: 0rem;
        left: 0;
        bottom: -3.3rem;
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }

    nav a:hover {
        background-color: transparent;
    }

    .header-main {
        flex-direction: row;
    }

    .header-discription {
        width: 40%;
    }

    .name {
        font-size: 5rem;
    }

    .job {
        font-size: 2.1rem;
    }

    .icon-circle {
        width: 45px;
        height: 45px;
    }

    .header-icon {
        width: 26px;
        height: 26px;
    }

    .header-main-img {
        width: 40%;
        margin: 0;
    }

    .header-main-img img {
        width: 370px;
    }

    .work-samples-section {
        padding: 10rem 5rem 0 5rem;
    }

    .skills-items h3 {
        width: 40%;
        margin-right: 1.5rem;
    }

    .services-section {
        height: 60rem;
        margin-bottom: 10rem;
        margin-top: 0;
    }

    .cards-container {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    .card {
        width: 330px;
        height: 250px;
    }

    .card-icon {
        left: 11.5rem;
    }

    .card-text {
        height: 17rem;
    }

    .card-title {
        font-size: 2rem;
    }

    .card-description {
        font-size: 1.6rem;
        padding-bottom: 4rem;
    }

    .about-me {
        width: auto;
        justify-content: center;
    }

    .about-text {
        margin: 0;
        max-width: 700px;
        height: 33rem;
    }

    .about-text h3 {
        font-size: 2.5rem;
    }

    .next-back {
        margin-right: 2rem;
    }

    .about-img-container {
        display: inline;
    }

    .about-img-container img {
        width: 27rem;

    }
}

@media screen and (min-width: 1200px) {
    nav a {
        margin: 0;
        font-size: 1.7rem;
    }

    .name {
        font-size: 6.5rem;
    }

    .job {
        font-size: 2.3rem;
    }

    .icon-circle {
        width: 50px;
        height: 50px;
    }

    .header-icon {
        width: 30px;
        height: 30px;
    }

    .header-main-img {
        width: 30%;
    }

    .work-samples {
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem 3rem;
    }

    .cards-container {
        flex-direction: row;
        width: 90%;
        justify-content: space-evenly;
    }
}

@media screen and (min-height: 1000px) {
    .start-modal {
        width: 600px;
        height: 550px;
    }

    .start-modal h2 {
        font-size: 4rem;
    }

    .start-modal p {
        font-size: 2.5rem;
    }

    .crown-container img {
        width: 80px;
        height: 80px;
    }

    .start-modal .btn {
        font-size: 2.5rem;
    }

    .name {
        font-size: 7.5rem;
    }

    .job {
        font-size: 2.5rem;
    }

    .icon-circle {
        width: 70px;
        height: 70px;
    }

    .header-icon {
        width: 35px;
        height: 35px;
    }

    .header-main-img img {
        width: 400px;
    }
}